name: External Trigger Python

on:
  workflow_dispatch:   # allows API trigger

jobs:
  run-python:
    runs-on: windows-latest

    env:
      ASSET_RIPPER_VERSION: "0.3.4.0"

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4
      with:
        token: ${{ secrets.bla }}

    - name: Download CloudFront file
      run: |
        curl.exe -L "https://d15iupkbkbqkwv.cloudfront.net/adv2024/Android/Android" -o target.bin

    - name: Download & unzip AssetRipper
      run: |
        curl.exe -L "https://github.com/AssetRipper/AssetRipper/releases/download/${env:ASSET_RIPPER_VERSION}/AssetRipper_win_x64.zip" -o AssetRipper.zip
        Expand-Archive AssetRipper.zip -DestinationPath AssetRipper

    - name: Run AssetRipper
      run: |
        .\AssetRipper\AssetRipper.exe target.bin -o rip_output -q

    - name: Save file list as output.txt
      run: |
        (Get-ChildItem -Recurse rip_output | Select-Object FullName) | Out-File output.txt

- name: Copy all extracted files to repo
  run: |
    robocopy rip_output . /E /NFL /NDL /NJH /NJS /NC /NS /NP /R:0 /W:0
    exit 0

    - name: Commit all files
      run: |
        git config --global user.name "github-actions"
        git config --global user.email "actions@github.com"

        git add .
        git commit -m "Add all AssetRipper extracted files" || echo "No changes"
        git push
