name: External Trigger Unity Primary

on:
  workflow_dispatch:

jobs:
  run-python:
    runs-on: windows-latest

    env:
      ASSET_RIPPER_VERSION: "0.3.4.0"

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4
      with:
        token: ${{ secrets.bla }}
        fetch-depth: 0  # important for pushing changes safely

    - name: Download CloudFront file
      run: |
        curl.exe -L "${{secrets.link1}}" -o target.bin

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.11"

    - name: Install UnityPy
      run: |
        python -m pip install --upgrade pip
        pip install UnityPy

    - name: List down all the chapter.asset
      run: |
        python "chapter.py" "target.bin"
        
    - name: Download CloudFront file for chapter.asset
      run: |
       $base_url = "${{secrets.link2}}"
       Get-Content output.txt | ForEach-Object {
        $file_name = $_.Trim()
        $url = "$base_url/$file_name"
        Write-Host "Downloading $url..."
        curl.exe -L $url -o (Split-Path $file_name -Leaf)
       }
    

    # Optional AssetRipper steps (commented)
    - name: Download & unzip AssetRipper
      run: |
         curl.exe -L "https://github.com/AssetRipper/AssetRipper/releases/download/${env:ASSET_RIPPER_VERSION}/AssetRipper_win_x64.zip" -o AssetRipper.zip
         Expand-Archive AssetRipper.zip -DestinationPath AssetRipper
    
    - name: Run AssetRipper on downloaded chapter.assets
      run: |
        Get-ChildItem -Path . -Filter "*.asset" | ForEach-Object {
        $asset_file = $_.FullName
        $output_dir = "rip_output\$($_.BaseName)"
        Write-Host "Ripping $asset_file -> $output_dir"
        .\AssetRipper\AssetRipper.exe $asset_file -o $output_dir -q
        }
    
    - name: Save output list
      run: |
         (Get-ChildItem -Recurse rip_output | Select-Object FullName) | Out-File output.txt

    #- name: Push to private repo
    #  run: |
    #    # Configure Git
    #    git config --global user.name "github-actions"
    #    git config --global user.email "actions@github.com"

        # Clone the target repo
    #    git clone https://${{ secrets.OTHER_REPO_TOKEN }}@${{ secrets.github }} target-repo
    #    cd target-repo

        # Create the folder if not exists
    #    if (-Not (Test-Path -Path "generated")) {
    #    New-Item -ItemType Directory -Path "generated"
    #    }

        # Copy generated files from workflow workspace into the folder
    #    Copy-Item ../output.txt generated/
    #    Copy-Item ../*.asset generated/

    #    git add .
    #    git commit -m "Update generated chapter assets" || echo "No changes to commit"
    #    git push origin main
