name: External Trigger Python

on:
  workflow_dispatch:   # allows API trigger

jobs:
  run-python:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4
      with:
        token: ${{ secrets.bla }}

    - name: Run Python and save output
      run: python script.py >> output.txt

    - name: Commit output
      run: |
        git config --global user.name "github-actions"
        git config --global user.email "actions@github.com"
        git add output.txt
        git commit -m "Update output.txt" || echo "No changes"
        git push
