name: Trigger
on:
  workflow_dispatch:

jobs:
  run-python:
    runs-on: windows-latest

    env:
      ASSET_RIPPER_VERSION: "0.3.4.0"

    steps:
    # ==========================
    # 1. Checkout main repo (Repo A)
    # ==========================
    - name: Checkout repo
      uses: actions/checkout@v4
      with:
        token: ${{ secrets.bla }}
        fetch-depth: 0

    # ==========================
    # 2. Download main bin file
    # ==========================
    - name: Download CloudFront file
      run: |
        curl.exe -L "${{secrets.link1}}" -o target.bin

    # ==========================
    # 3. Python setup
    # ==========================
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.11"

    - name: Install UnityPy
      run: |
        python -m pip install --upgrade pip
        pip install UnityPy
        
    # ==========================
    # 4. Download main bin file
    # ==========================

    - name: Download the file
      run: |
        python "try.py" "target.bin"
